.property-table {
  width: 100%;
  height: 100vh;
  padding: 10px;
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
}

.property-table-header {
  border: 1px dotted black;
}
.property-table-title {
  margin: 0;
  display: inline-block;
}
.property-table-text {
  height: 88%;
  width: 95%;
  padding: 0.2em 0em 0em 0.2em;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1em 3em 0em 6em;
  margin-top: 20px;
}

table {
  border-spacing: 10px;
  padding-top: 100px;
}

#uncertian {
  display: flex;
  align-content: space-between;
  padding-left: 10px;
}

.table-first-header {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.save-all {
  height: 50%;
}
