.property-container {
  width: 100%;
  padding: 10px;
}

.property-header {
  border: 1px dotted black;
}
.property-title {
  margin: 0;
  display: inline-block;
}
.property-text {
  resize: none;
  outline: none;
  height: 88%;
  width: 95%;
  padding: 0.2em 0em 0em 0.2em;
}
