section,
footer {
  font-size: 1.2em;
}

.properties {
  padding-left: 5%;
  padding-right: 5%;
  height: 100vh;
  text-align: left;
}

.properties-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 112px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  overflow: visible;
  grid-auto-flow: dense;
}

.properties-card-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
  align-self: stretch;
  overflow: scroll;
  overflow-x: hidden;
  grid-auto-flow: dense;
  overflow: hidden;
}

.properties-card-top {
  display: grid;
  width: 100%;
  height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
}

.property-text {
  background-color: white;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.properties-card-bottom {
  margin-top: 20px;
  display: grid;
  width: 100%;
  height: 30vh;
}

@media (max-width: 1000px) {
  #properties {
    padding-left: 5%;
    padding-right: 5%;
  }

  .properties-card {
    grid-template-columns: 1fr;
    padding: 2em 0;
    grid-gap: 2em;
  }
}
