:root {
  --light: #f6f6f6;
  --lighter: #ffffff;
  --dark: #161616;
  --light-color: #6ca3ff89;
  --highlight-color: #ff6584;
  --dark-color: #161c2b;
  --catchy-color: #f3e63f;
  --nav-text: var(--light);
  --nav-bg: var(--dark-color);
  --body-text: var(--dark);
  --body-bg: var(--light);
  --gray1: #676767;
  --gray2: #cfcfcf;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Arvo";
  background: var(--body-bg);
  scroll-behavior: smooth;
  width: 100%;
}

h1 {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.5em;
  word-break: break-word;
}

h2 {
  font-family: "Epilogue";
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

h3 {
  font-family: "Epilogue";
  font-weight: 500;
  font-size: 1.4rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  box-shadow: inset 0 -5px var(--light-color);
  transition: 0.06s ease-in;
}

a:hover {
  box-shadow: inset 0 -1em var(--light-color);
  transition: 0.06s ease-in;
}

p {
  font-size: 1rem;
  margin-top: 0.3em;
  line-height: 1.35em;
}

span {
  font-size: 1rem;
}

strong {
  font-weight: bold;
}

body {
  overflow: hidden;
  height: 100vh;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100px auto 1fr;
  overflow-x: hidden;
  overflow-y: scroll;
}

aside {
  border-right: 1px solid var(--gray2);
}

.sidebar {
  height: auto;
  position: sticky;
  top: 0;
  padding: 25px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(300px, 5fr) 15fr;
}

.logo {
  font-family: "Lobster Two", serif;
  font-size: 2em;
  margin-right: 1em;
  padding-bottom: 0.2em;
  font-weight: 700;
  font-style: italic;
}

.logo a:hover {
  box-shadow: none;
}

.button {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid white;
  background: #afafaf00;
  transition: 0.06s ease-in;
}

.button:hover {
  background: var(--light-color);
  transition: 0.06s ease-in;
  box-shadow: none;
}

.cta {
  display: block;
  font-family: "Epilogue";
  font-size: 1rem;
  font-weight: 500;
  box-shadow: none;
  color: var(--dark-color);
  border-radius: 3px;
  background: var(--catchy-color);
  padding: 15px;
  padding-top: 18px;
  transition: 0.1s linear;
  width: auto;
  text-align: center;
}

.cta:hover {
  box-shadow: none;
  background: var(--highlight-color);
  transition: 0.1s linear;
}

.cta.inverse {
  background: #00000000;
  border: 1px solid var(--gray1);
  color: var(--dark-color);
}

.cta.inverse:hover {
  background: var(--lighter);
  color: var(--highlight-color);
  border-color: var(--highlight-color);
}

section {
  padding: 25px;
}

.card {
  margin-bottom: 1em;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--gray2);
  background: var(--lighter);
  box-shadow: inset 0 2px 7px -5px var(--gray1);
}

.h-divider {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--gray2);
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .button {
    width: 50%;
    margin: 0 auto;
    margin-top: 1em;
    border-color: var(--nav-bg);
  }

  .container {
    grid-template-columns: 1fr;
  }

  aside {
    border-bottom: 1px solid var(--gray2);
  }
}
